<h3>For Sale</h3>
<for-sale-list [childForSaleList]="masterForSaleList" (clickSender)="editPost($event)" (deleteClickSender)=deletePost($event) (individualPageClickSender)="goToDetailPage($event)"
(markedAsFavorite)="markedAsFavorite($event)"></for-sale-list>
<button (click)="addPostFormShow()">New Posting</button>
<new-for-sale [childNewPosting]="newPosting" (newForSaleSender)="newForSale($event)" [childForSaleList]="masterForSaleList"></new-for-sale>
<edit-for-sale [childPostToEdit]="postToEdit" (doneEditingSender)="doneEditing()"></edit-for-sale>
